
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Twitter Sentiment Analysis</title>
  </head>
  <body>

    <div class="dropdown">
      <button class="dropdown-btn">Help</button>
      <div class="dropdown-content">
        <p class="desc">
          Type in a Twitter users handle to see the sentiment graph of their last 200 tweets.
          For example, try typing "@realDonaldTrump" to see the POTUS's sentiment graph.
          Hover over the individual bar graph to see the individual tweet.
          You can also click "Show tweets" to show a list of all the tweets analyzed.
          If there seems to be "gaps" in the graph, or a bit of space between each bar, it means the analysis deemed the post "nuetral,"
          and therefore received a score of 0%. You can hover over the graph where x = 0 to see these tweets. 
          Also, if the bar's are thicker than normal it means the user you typed in has less than 200 tweets.
        </p>
      </div>
    </div>

    <h1>{{title}}</h1>


    <form class="style-form" action="" method="post">
      <div>
        <input name="user_id" placeholder="Enter twitter user ID here" required/>
        <button class="go-btn" type="submit" id="" name="button">GO!</button>
      </div>
    </form>

<main>

  <div class="chart description">
    <div id="chart-container"></div>
  </div>


    <div class ="description">
      <button class="tweets-btn">Show tweets</button>
      <div class="tweets description-display">
        {{#each tweets}}
        <p>
          {{this.tweet.user.name}}
        </p>
        <ul>
          <li>
            {{this.text}}
          </li>
          <hr />
        </ul>
        {{/each}}
      </div>
    </div>
</main>



<script type="text/javascript">
var tweets = {{{tweets2}}}
console.log(tweets);

</script>

<!-- <p>{{tweets}}</p> -->
<!-- <script src="./js/training-data.js"></script> -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="javascripts/script.js"></script>

  </body>
</html>
