


<h1>{{title}}</h1>
<!-- <p>Welcome to {{title}}</p> -->

<form class="style-form" action="" method="post">
  <div>
    <input name="user_id" placeholder="Enter twitter user ID here" />
    <button type="submit" id="" name="button">GO!</button>
  </div>
</form>


<!-- {{#each tweets}}
<li>
  {{this.text}}
  <div>
    <p>
      {{this.analysis.score}}
    </p>
  </div>
</li>
{{/each}} -->

  <!-- <div class ="description"></div> -->
      <!-- <br> -->
      <div id="chart-container"></div>


<script type="text/javascript">
  var tweets = {{{tweets2}}}
  console.log(tweets);

</script>

<!-- <p>{{tweets}}</p> -->
<!-- <script src="./js/training-data.js"></script> -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="javascripts/script.js"></script>
